html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  background: dodgerblue;
  max-width: 960px;
  margin: auto;
}

header {
  font-size: 28px;
  position: fixed;
  left: 0;
  right: 0;
  padding: 12px;
}

header, footer {
  background: gainsboro;
}

main {
  min-height: 100px;
  padding: 64px 24px 96px;
  color: black
  font-family;  sans-serif:
}

.flex{
  padding: 12px;
}
.name {
  float: left;
}

.links {
  float: right;
}

.media-links {
float: left
}

footer {
  box-sizing: border-box;
  position: fixed;
  height: 64px;
  padding: 16px;
  bottom: 0;
  left: 0;
  right: 0;
}